x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "1m"
    max-file: "1"
    tag: "{{.Name}}"

x-common-labels: &default-labels
  logging: "promtail"
  logging_jobname: "containerlogs"
  stackname: "docker-monitoring-stack-gpnc"

services:
  grafana:
    profiles: [monitoring]
    image: grafana/grafana:main
    container_name: grafana
    restart: always
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_LOG_MODE=console
      - GF_LOG_LEVEL=critical
      - GF_PANELS_ENABLE_ALPHA=true
      - GF_FEATURE_TOGGLES_ENABLE=accessControlOnCall lokiLogsDataplane
      - GF_INSTALL_PLUGINS=grafana-polystat-panel
    volumes:
      - ./configs/grafana/provisioning/dashboards.yml:/etc/grafana/provisioning/dashboards/provisioning-dashboards.yaml:ro
      - ./configs/grafana/provisioning/datasources.yml:/etc/grafana/provisioning/datasources/provisioning-datasources.yaml:ro
        #      - ./dashboards/node-metrics.json:/var/lib/grafana/dashboards/node-metrics.json:ro
        #      - ./dashboards/container-metrics.json:/var/lib/grafana/dashboards/container-metrics.json:ro
        #      - ./dashboards/log-search.json:/var/lib/grafana/dashboards/log-search.json:ro
      - ./dashboards:/var/lib/grafana/dashboards
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus
    ports:
      - ${WEBUI_PORT_GRAFANA}:3000
    # cpus: 0.5
    # mem_limit: 512m
    networks:
      - monitoring
    labels:
      <<: *default-labels
    logging: *default-logging

  prometheus:
    profiles: [monitoring]
    image: prom/prometheus:main
    container_name: prometheus
    restart: always
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--log.level=error'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=7d'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.external-url=http://localhost:9090'
      - '--web.enable-lifecycle'
    volumes:
      - ./configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./configs/prometheus/recording-rules.yml:/etc/prometheus/recording-rules.yml
      - ./configs/prometheus/alerting-rules.yml:/etc/prometheus/alerting-rules.yml
      - prometheus-data:/prometheus
    depends_on:
      - alertmanager
    environment:
      TZ: ${TIMEZONE}
    ports:
      - ${WEBUI_PORT_PROMETHEUS}:9090
    # cpus: 0.5
    # mem_limit: 512m
    networks:
      - monitoring
    labels:
      <<: *default-labels
    logging: *default-logging

  cadvisor:
    profiles: [monitoring]
    image: gcr.io/cadvisor/cadvisor:v0.46.0
    container_name: cadvisor
    restart: always
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
        # https://github.com/google/cadvisor/issues/1565#issuecomment-718812180
      - /var/run/docker.sock:/var/run/docker.sock
      #- /dev/disk:/dev/disk:ro
    # cpus: 0.5
    # mem_limit: 512m
    networks:
      - monitoring
    ports:
      - ${WEBUI_PORT_CADVISOR}:8080
    labels:
      <<: *default-labels
    logging: *default-logging

  node-exporter:
    profiles: [monitoring]
    image: prom/node-exporter:master
    container_name: node-exporter
    restart: always
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points'
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    # cpus: 0.5
    # mem_limit: 512m
    networks:
      - monitoring
    labels:
      <<: *default-labels
    logging: *default-logging

  alertmanager:
    profiles: [monitoring]
    image: prom/alertmanager:main
    container_name: alertmanager
    restart: always
    dns:
      - 8.8.8.8
      - 8.8.4.4
    command:
      - '--config.file=/etc/alertmanager/config.yml'
      - '--log.level=error'
      - '--storage.path=/alertmanager'
      - '--web.external-url=http://localhost:9093'
    volumes:
      - ./configs/alertmanager/alertmanager-email-config.yml:/etc/alertmanager/config.yml
    ports:
      - ${WEBUI_PORT_ALERTMANAGER}:9093
    # cpus: 0.5
    # mem_limit: 512m
    networks:
      - monitoring
    labels:
      <<: *default-labels
    logging: *default-logging

  redis:
    profiles: [monitoring]
    image: redis:6
    container_name: redis
    restart: always
    ports:
      - ${REDIS_PORT}:6379
        #cpus: 0.5
        #mem_limit: 512m
    networks:
      - monitoring
    labels:
      <<: *default-labels
    logging: *default-logging

  loki:
    profiles: [monitoring]
    image: grafana/loki:3.3.2
    container_name: loki
    restart: always
    user: root
    ports:
      - ${WEBUI_PORT_LOKI}:3100
    command: -config.file=/etc/loki/loki.yaml
    volumes:
      - ./configs/loki/loki.yaml:/etc/loki/loki.yaml
      - ./configs/loki/rules.yaml:/etc/loki/rules/fake/loki-rules.yml
    # cpus: 0.5
    # mem_limit: 512m
    networks:
      - monitoring
    labels:
      <<: *default-labels
    logging: *default-logging

  promtail:
    profiles: [monitoring]
    image:  grafana/promtail:3.3.2
    container_name: promtail
    restart: always
    volumes:
      - ./configs/promtail/promtail.yaml:/etc/promtail/docker-config.yaml
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: -config.file=/etc/promtail/docker-config.yaml
    depends_on:
      - loki
    cpus: 0.5
    mem_limit: 512m
    networks:
      - monitoring
    labels:
      <<: *default-labels
    logging: *default-logging

  speedtest-exporter:
    image: miguelndecarvalho/speedtest-exporter
    profiles: [monitoring]
    container_name: speedtest-exporter
    ports:
      - ${SPEEDTEST_PORT}:9798
    restart: always
    networks:
      - monitoring      

  blackbox:
    image: prom/blackbox-exporter:master
    profiles: [monitoring]
    restart: always
    ports:
        - ${BLACKBOX_PORT}:9115
    command:
        - --config.file=/etc/blackbox/blackbox.yml
    volumes:
        - ./configs/blackbox/blackbox.yml:/etc/blackbox/blackbox.yml
    networks:
      - monitoring      

volumes:
  grafana-data: {}
  prometheus-data: {}

networks:
  monitoring:
    name: monitoring
